p {
  font-size: 2.5em;
  text-transform: capitalize;
}

.text{
  display: block;
  margin: 100px auto;
  width: 80%;
}

#Reversed{
  background: rgb(255, 255, 0);
  padding: 100px 0 100px 0;
  color: rgb(0, 0, 255);
  text-decoration: underline;
}

#Reversed span{
  text-decoration: none;
}

#Reversed a:link{
  color: black;
  text-decoration: none;
  cursor: wait;
}

#Reversed a:visited{
  color: black;
  text-decoration: none;
}

.noline {
  text-decoration: none;
}

#ChangeVersion1{
  background: rgb(255, 0, 255);
  padding: 100px 0 100px 0;
  color: white;
}

#ChangeVersion1 a:link{
  color: rgb(255, 255, 0);
  text-decoration: none;
}

#ChangeVersion1 a:visited{
  color: rgb(255, 255, 0);
  text-decoration: none;
}

#ChangeVersion1 a:hover{
  color: rgb(255, 0, 255);
  text-decoration: none;
}

#ChangeVersion2{
  background: rgb(84, 27, 139);
  padding: 100px 0 100px 0;
}

#ChangeVersion2 a:link{
  text-decoration: line-through;
  color: white;
}

#ChangeVersion2 a:visited{
  text-decoration: overline;
  color: rgb(255, 84, 84);
}

#ChangeVersion2 a:hover{
  text-decoration: none;
  color: white;
  cursor:cell;
}

#ChangeVersion3{
  background: rgb(0, 100, 100);
  padding: 100px 0 100px 0;
  color: rgb(0, 255, 200);
}

#ChangeVersion3 a:link{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 0.5em;
}

#ChangeVersion3 a:visited{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 0.5em;
}

#ChangeVersion3 a:hover{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 3em;
  cursor:no-drop;
}
