/*rest padding and margin*/
*{
  padding: 0;
  margin: 0;
}

section{
  display: flex;
  height: 500px;
}

.text{
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; /*?*/
}

.text, .feature{
  flex: 1;
}

.feature{
  overflow: hidden;
}

img{
  width: 100%
}

h1{
  text-transform: uppercase;
}
