body{
  display: block;
}

#blockHolder{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

#block{
  width: 20vw;
  height: 20vw;
}


#diceContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#dice {
  width: 20vw;
  height: 20vw;
  background-color: rgb(50,50,50);
  border-radius: 1.5vw;
}

.rotate::before{
  counter-increment: section;
  content: counter(section);
}

/* .rotate{
  animation: rotate 0.5s linear infinite;
} */
/*
#diceNumbers{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
} */

#dice div{
  width: 100%;
  height: 100%;
  background-size: cover;
  display: none;
  z-index: 10;
}

#dice div:first-child{
  background-image: url('diceNumbers/1.png');
  display: block;
}

#dice div:nth-child(2){
  background-image: url('diceNumbers/2.png');
}

#dice div:nth-child(3){
  background-image: url('diceNumbers/3.png');
}

#dice div:nth-child(4){
  background-image: url('diceNumbers/4.png');
}

#dice div:nth-child(5){
  background-image: url('diceNumbers/5.png');
}

#titlesHolder{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#titlesHolder div{
  position: relative;
  bottom: 15vw;
  display: none;
  color: rgb(150,150,150);
  text-decoration: underline;
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
